<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Purdue Lab Stats</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="https://www.cs.purdue.edu/resources/facilities/labs.html">Instructional Labs</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (user) { %>
        <li><a href="/authorize/signout"><span class="glyphicon glyphicon-log-in"></span> Signout</a></li>
      <% } else { %>
        <li><a href="<%= signInUrl %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>

<% if (!user) { %>
<div align="center" class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Login using your Purdue email to access more features.
</div>
<% } %>
