<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Purdue Lab Stats</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Buildings <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/LWSN">Lawson</a></li>
            <li><a href="/HAAS">Felix Hall</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Rooms <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/LWSN/B131">LWSN B131</a></li>
            <li><a href="/LWSN/B146">LWSN B146</a></li>
            <li><a href="/LWSN/B148">LWSN B148</a></li>
            <li><a href="/LWSN/B158">LWSN B158</a></li>
            <li><a href="/LWSN/B160">LWSN B160</a></li>  
            <li><a href="/HAAS/G040">HAAS G040</a></li>
            <li><a href="/HAAS/257">HAAS 257</a></li>
            <li><a href="/HAAS/G056">HAAS G056</a></li>
        </ul>
      </li>
      <li><a type="button" data-toggle="modal" data-target="#myModalContact">Contact Us</a>

        <div id="myModalContact" class="modal fade" role="dialog">  
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">
                      Send Email to Developers for Technical Issues!
                  </h4>
              </div>
              <div class="modal-body">
                  <form action="/send-email" method="post" class="reused_form">
                      <p> Send your feedback to developers in the form below. </p>
                      <div class="form-group">
                          <label for="subject"> Subject:</label>
                          <input type="text" class="form-control" id="subject" name="subject" required maxlength="50">
                          <input type = 'hidden' name='feedback' value='true'>
                      </div>
                      <!-- <div class="form-group">
                          <label for="to"> Send to:</label>
                          <input type="email" class="form-control" id="to" name="to" required maxlength="50">
                      </div> -->
                      <div class="form-group">
                          <label for="body"> Message:</label>
                          <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
                      </div>
                      <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Post It! &rarr;</button>
                  </form>
                  <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
                  <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
              </div>
            </div>
           
          </div>
        </div>

      </li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (user) { %>
        <li><a href="/authorize/signout"><span class="glyphicon glyphicon-log-in"></span> Signout</a></li>
      <% } else { %>
        <li><a href="<%= signInUrl %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>



<% if (!user) { %>
<div align="center" class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Login using your Purdue email to access more features.
</div>
<% } %>
