<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>LabStats</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script type='text/javascript' src="/javascript/requests.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="form.css" >
<script src="form.js"></script>


<style>
  body    {
    padding-top:50px;
  }

  th {
    cursor: pointer;
  }

  h1 {
    font-weight: bold;
  }

  .centered {
    display: block;
    text-align: center;
  }

  .responsiveCal {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }

  .responsiveCal iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .responsiveParent {
    min-width: 100px;
  }

  .responsiveImg {
    display: block;
    width: 100%;
    height: auto;
  }

  .halfer {
    width: 49%;
    display: inline-block;
  }

  tbody tr:hover { 
    background: rgb(200, 200, 200);
    cursor: pointer;
  }

  .headImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size:auto 100%;
  }

  .content { 
    display:none 
  }

  #email-lab,
  #lab-schedule,
  #lab-footage,
  #lab-busy-times,
  #lab-heat-map,
  #lab-specs
  #date-time
  #date-next
  #date-prev {
    outline: none;
  }

  .progress {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 5px;
  }

  .progress span{
    display: block;
    position: absolute;
    width: 10%;
    color: black;
  }

</style>
