<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Purdue Lab Stats</a>
      <ul class="nav navbar-nav">
        <li>
          <% if (user) { %>
            <div class="btn-nav">
              <a class="btn btn-primary btn-small navbar-btn" href="/authorize/signout"><%= user %>, Click here to signout</a>
            </div>
          <% } else { %>
            <div class="btn-nav">
              <a class="btn btn-primary btn-small navbar-btn" href="<%= signInUrl %>">Click here to login</a>
            </div>
          <% } %>
        </li>
        <li><a href="https://www.cs.purdue.edu/resources/facilities/labs.html">Instructional Labs</a>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
