<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body class="container">
        <header>
             <% include ./partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <div align="center">
                <h1>About</h1>
                <h2>Purpose</h2>
                <p style="font-size: 120%">
                    This application was created for the 2018 Summer semester of CS 407: Senior Project. 
                    There was no quick & easy way to see detailed Purdue computer science lab details. Our goal was to
                    create a web application where students can get the information they need to plan their trips to 
                    Purdue computer labs without hassle. Our application provides users with a variety of visual data on a 
                    buildings, labs, and machine basis. 
                </p>

                <h2>Creators</h2>
                <p style="font-size: 120%;">
                    <b>Moon Sun Hwang</b></br>
                    hwang123@purdue.edu</br>
                    <b>Noah Smith</b></br>
                    smit1898@purdue.edu</br>
                    <b>Rex Suter</b></br>
                    suterr@purdue.edu</br>
                </p>
                <h2>More Info</h2>
                <p style="font-size: 120%;">
                        <b>GitHub</b></br>
                        <a href="https://github.com/cs407summer2018">https://github.com/cs407summer2018</a>
                </p>
            </div>
            </div>

            <div id="myDiv"></div>

            <script>
              //var plotly = require('plotly')("hwang123", "K5spAr9aWHGdycWUOiXz");

              var x = [];
              var y = [];
              for (var i = 0; i < 500; i ++) {
                  x[i] = Math.random();
                  y[i] = Math.random();
              }

              var trace = {
                  x: x,
                  y: y,
                  name: 'control',
                  autobinx: false, 
                  histnorm: "count", 
                  marker: {
                    color: "rgba(255, 100, 102, 0.7)", 
                     line: {
                      color:  "rgba(255, 100, 102, 1)", 
                      width: 1
                    }
                  },  
                  opacity: 0.5, 
                  type: 'histogram',
                  xbins: {
                    //end: 6.8, 
                    size: 0.006,
                    //size: 0.06, 
                    //start: -3.5
                  }

                };
              var data = [trace];
              var layout = {
                bargap: 0.05, 
                bargroupgap: 0.002, 
                barmode: "overlay", 
                title: "Histogram of Lab Usage", 
                xaxis: {title: "Time"}, 
                yaxis: {title: "Occupancy"}
              };
              Plotly.newPlot('myDiv', data, layout);


            </script>

        </main>

        <footer>
            <% include ./partials/footer %>
        </footer>

        <!DOCTYPE HTML>
        




    </body>
</html>