<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
    <body class="container">
        <header>
             <% include ./partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <div align="center">
                <h1>About</h1>
                <h2>Purpose</h2>
                <p style="font-size: 120%">
                    This application was created for the 2018 Summer semester of CS 407: Senior Project. 
                    There was no quick & easy way to see detailed Purdue computer science lab details. Our goal was to
                    create a web application where students can get the information they need to plan their trips to 
                    Purdue computer labs without hassle. Our application provides users with a variety of visual data on a 
                    buildings, labs, and machine basis. 
                </p>

                <h2>Creators</h2>
                <p style="font-size: 120%;">
                    <b>Moon Sun Hwang</b></br>
                    hwang123@purdue.edu</br>
                    <b>Noah Smith</b></br>
                    smit1898@purdue.edu</br>
                    <b>Rex Suter</b></br>
                    suterr@purdue.edu</br>
                </p>
                <h2>More Info</h2>
                <p style="font-size: 120%;">
                        <b>GitHub</b></br>
                        <a href="https://github.com/cs407summer2018">https://github.com/cs407summer2018</a>
                </p>
            </div>
            </div>

        </main>

        <footer>
            <% include ./partials/footer %>
        </footer>

    </body>
</html>