<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
    <body class="container">
        <header>
             <% include ./partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <div align="center">
                <h1>About</h1>
                <h2>Purpose</h2>
                <p style="font-size: 120%">
                    This application was created for the 2018 Summer semester of CS 407: Senior Project. 
                    There was no quick & easy way to see detailed Purdue computer science lab details. Our goal was to
                    create a web application where students can get the information they need to plan their trips to 
                    Purdue computer labs without hassle. Our application provides users with a variety of visual data on a 
                    buildings, labs, and machine basis. 
                </p>

                <h2>Creators</h2>
                <p style="font-size: 120%;">
                    <b>Moon Sun Hwang</b></br>
                    hwang123@purdue.edu</br>
                    <b>Noah Smith</b></br>
                    smit1898@purdue.edu</br>
                    <b>Rex Suter</b></br>
                    suterr@purdue.edu</br>
                </p>
                <h2>More Info</h2>
                <p style="font-size: 120%;">
                        <b>GitHub</b></br>
                        https://github.com/cs407summer2018
                </p>
            </div>
            </div>

        </main>

        <footer>
            <% include ./partials/footer %>
        </footer>

        <!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var options = {
    axisY:{
        interval: 5,
        maximum: 30
    },
    axisX: {
        interval: 1
    },
	data: [              
	{
        color: "#6699ff",
		type: "column",
		dataPoints: [
			{ label: "Midnight",  y: 5  },
			{ label: "1 am", y:  5 },
			{ label: "2 am", y: 4  },
			{ label: "3 am",  y: 2  },
			{ label: "4 am",  y: 1  },
			{ label: "5 am", y: 0  },
			{ label: "6 am", y: 0  },
			{ label: "7 am",  y: 1  },
            { label: "8 am",  y: 5  },
            { label: "9 1m",  y: 12  },
			{ label: "10 am", y: 15  },
			{ label: "11 am", y: 16  },
			{ label: "12 pm",  y: 13  },
			{ label: "1 pm",  y: 8  },
			{ label: "2 pm", y: 18  },
			{ label: "3 pm", y: 19 },
			{ label: "4 pm",  y: 11  },
            { label: "5 pm",  y: 5  },
            { label: "6 pm",  y: 6  },
			{ label: "7 pm", y: 7  },
			{ label: "8 pm", y: 5  },
			{ label: "9 pm",  y: 4  },
			{ label: "10 pm",  y: 4  },
			{ label: "11 pm", y: 4  }
		]
	}
	]
};

$("#chartContainer").CanvasJSChart(options);
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>

    </body>
</html>