<!-- views/building.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h1><%= building %></h1>
        <ul>
        <% rooms.forEach((room) => { %>
            <!--
                List of all labs for that building
                Links to each room page
                Avaliablity [class in session, full, open]
            -->
            <li><a href="/<%= building %>/<%= room.room_number %>"><%= room.room_number %></a></li>
        <% }) %>
        </ul>
    </div>
</main>

<footer>
</footer>

</body>
</html>